---
layout: default
title: Notes 
---

<!-- <h1 class="page-title">{{ page.title }}</h1> -->
<!-- <ul> -->
<!--   {% for note in site.notes %} -->
<!--     <li class="post-item"> -->
<!--         <a href="{{ note.url }}">{{ note.title }}</a> -->
<!--     </li> -->
<!--   {% endfor %} -->
<!-- </ul> -->

<h1 class="page-title">{{ page.title }}</h1>
<p>
    This is a knowledge base for the information I have compiled while researching 
    several different topics.
    These notes are in no way complete. They will be updated accordingly as my 
    understanding of these topics improves over time.
</p>
{% assign all_notes = site.notes %}
{% assign categories = site.notes | map: "categories" | uniq %}
{% for category in categories %}
    <h2>{{ category }}</h2>
    <ul>
        {% assign new_url = category | replace: " ", "-" %}
        {% for note in all_notes  %}
            {% if note.categories contains category %}
            <li class="post-item">
                <a href="{{ note.url }}">{{ note.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
