<hr>
<footer>
    <div class="footer-container">
        <div class="footer-links-container"> 
            Find me here:
            <a href="https://github.com/ElPatatone">Github</a> |
            <a href="https://www.linkedin.com/in/hasanur-rahman-mohammad">Linkedin</a> |
            <a href="mailto:rahman.hm2002@gmail.com">Email</a>
        </div>
        <div class="quote-container">
            <p><em>
                "Real understanding begins where the abstraction ends."
            </em></p>
        </div>
    </div>
</footer>
