---
layout: default
title: GPU Computing
<!-- category: GPU-Computing -->
permalink: /notes/gpu-computing/
---

<h1 class="page-title">{{ page.title }}</h1>
<p>Notes exploring GPU programming, architecture, and performance optimization.</p>

<ul>
  {% assign all_notes = site.notes %}
  {% for note in all_notes %}
    {% if note.categories contains page.category %}
        <li class="post-item">
            <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
            <div class="post-date">
                <i>{{ note.date | date: '%B %-d, %Y' }}</i>
            </div>
        </li>
    {% endif %}
  {% endfor %}
</ul>
